<div class="container mt-5" style="max-width: 600px;">
  <h1 class="mb-4 text-center">Edit Message</h1>

  <%= render 'form', message: @message %>

  <div class="text-center mt-3">
    <%= link_to 'Back to messages', messages_path, class: 'btn btn-secondary' %>
  </div>
</div>
