<h1 class="mb-4">Edit Chat</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render 'form', chat: @chat %>

<div class="text-center mt-3">
  <%= link_to 'Back to chats', chats_path, class: 'btn btn-secondary' %>
</div>
